---
---
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,300,500,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
@import url(https://use.fontawesome.com/db7621f2ce.css);

/* RGB */
$color-primary-0: rgba(202, 168, 245, 1);
$color-primary-1: rgba(153, 132, 212, 1);
$color-primary-2: rgba(89, 46, 131, 1);
$color-primary-3: rgba(35, 12, 51, 1);
$color-primary-4: rgba(178, 124, 102, 1);

svg {
        fill: $color-primary-0;
}
html, body {
  height: 100%; 
} 

body {
  background: #FFFFFF;
  color: $color-primary-4;
  font-family: "Roboto Mono", arial, sans-serif;
  font-weight: 300;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  text-transform: none; }

h1 {
  font-size: 26px; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px;
  margin-bottom: 20px; }

h4 {
  font-size: 18px;
  margin-bottom: 18px; }

h5 {
  font-size: 16px;
  margin-bottom: 15px; }

h6 {
  font-size: 14px;
  margin-bottom: 12px; }

p {
  line-height: 1.8;
  margin: 0 0 30px;
  text-align: justify; }

a {
  color: $color-primary-2;
  text-decoration: none; }

blockquote {
  /*background: darken($primary,30%);*/
  border-left: 2px solid #333333;
  margin: 40px 40px;
  padding: 5px 30px; }
  blockquote p {
    color: #AEADAD;
    display: block;
    font-style: italic;
    margin: 0;
    width: 100%; }

img {
  display: block;
  margin: 40px 0;
  width: auto;
  max-width: 100%; }

pre {
  background: #f2f2f2;
  border: 1px solid #DDDBCC;
  border-radius: 3px;
  margin: 0 0 20px;
  padding: 10px;
  font-size: 16px; }

code {
  padding: 2px 4px;
  font-size: 90%;
  color: #333333;
  background-color: #f2f2f2;
  border-radius: 4px; }

hr {
  border: none;
  border-bottom: 1px dotted #303030;
  margin: 45px 0; }

table {
  margin-bottom: 40px;
  width: 100%; }
  table tbody > tr:nth-child(odd) > td,
  table tbody > tr:nth-child(odd) > th {
    background-color: #f7f7f3; }
  table th {
    padding: 0 10px 10px;
    text-align: left; }
  table td {
    padding: 10px; }
  table tr {
    border-bottom: 1px dotted #AEADAD; }

::selection {
  background: #e6e6ff;
  /*#FFF5B8;*/
  color: #000;
  display: block; }

::-moz-selection {
  background: #e6e6ff;
  /*#FFF5B8;*/
  color: #000;
  display: block; }

.fluid-width-video-wrapper {
  margin-bottom: 40px; }

.hidden {
  text-indent: -9999px;
  visibility: hidden;
  display: none; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* ============================================================ */
/* General Appearance */
/* ============================================================ */
.container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 749px; }

// ul.posts {
//     p {
//         margin: 0px;
//         margin-left: 2em;
//         margin-top: 0.5em;
//         padding: 0px;
//         font-style: italic;
//     }
//     span {
//         clear: both;
//         display: block;
//     }
//   list-style: none;
//   .more {
//       float:right;
//   }
//   margin-bottom: 2em;
//   li {
//           background: yellow;
//   }
// }
//
// ul.members {
//     list-style: none;
//     background-color: $color-primary-1;
//     li { 
//         padding: 0.2em;
//         display: inline;
//     }
//     li a {
//         color: white;
//         display: inline;
//     }
//     a::before {
//         content: "[" ;
//     }
//     a::after {
//         content: "]" ;
//     }
// }
//
